#swingbox { position: absolute;
	top:23px; left:0px;
	margin-top:-2px;
	padding: 6px 4px;
	text-align: left;
	width:102px;
	background-color: #fff;
	display: none;
	cursor:default;
	z-index:-1;
}

#swingbox hr { height:1px;
	border:1px;
	color:#e2e2e2;
	background-color:#e2e2e2;
	margin: 1px 0;
}

*+html #swingbox hr {
/* IE 7 hr bug fix */
 display:block; margin: -5px 0;
}

* html #swingbox hr {
/* IE 6 hr bug fix */
 display:block; margin: -5px 0;
}

#remover { color: #a5a5a5;
	text-decoration: none;
	cursor: default;
	text-align: center;
	display: block;
}

#remover.highlight { color: #0000cd;
	text-decoration: underline;
	cursor: pointer;
}