    html, body{
        margin:0px;
        padding:0px;
        height:100%;
        overflow:hidden;
    }
    .one_line{
        white-space:nowrap;
        overflow:hidden;
        padding-top:5px; padding-left:5px;
        text-align:left !important;
    }

/*    Defini the color */
        .dhx_cal_event div.dhx_footer,
        .dhx_cal_event.past_event div.dhx_footer,
        .dhx_cal_event.event_english div.dhx_footer,
        .dhx_cal_event.event_math div.dhx_footer,
        .dhx_cal_event.event_science div.dhx_footer{
            background-color: transparent !important;
        }
        .dhx_cal_event .dhx_body{
            -webkit-transition: opacity 0.1s;
            transition: opacity 0.1s;
            opacity: 0.7;
        }
        .dhx_cal_event .dhx_title{
            line-height: 12px;
        }
        .dhx_cal_event_line:hover,
        .dhx_cal_event:hover .dhx_body,
        .dhx_cal_event.selected .dhx_body,
        .dhx_cal_event.dhx_cal_select_menu .dhx_body{
            opacity: 1;
        }

        .dhx_cal_event.event_math div, .dhx_cal_event_line.event_math{
            background-color: #436EEE !important;
            border-color: #a36800 !important;
        }
        .dhx_cal_event_clear.event_math{
            color:#436EEE !important;
        }

        .dhx_cal_event.event_science div, .dhx_cal_event_line.event_science{
            background-color: #36BD14 !important;
            border-color: #698490 !important;
        }
        .dhx_cal_event_clear.event_science{
            color:#36BD14 !important;
        }

        .dhx_cal_event.event_english div, .dhx_cal_event_line.event_english{
            background-color: red !important;
            border-color: #698490 !important;
        }
        .dhx_cal_event_clear.event_english{
            color:red !important;
        }
/* Important !!! */
    .dhx_scale_hour {
        line-height:normal;
    }